
//  ==== COLOR =====
$main-color: white;
$second-color: black;
$third-color: /*#006963*/ rgb(246, 7, 7);



// ===== TEXT COLOR =====
$text-color-one: white;
$text-color-two: black;
$text-color-three: /*#006963*/ red;


// ====== FONT STYLE =====

