
@media only screen and (max-width: 1200px){

    /*......mobile navigation.........*/
    

    nav {
        display: none;
        
    }

    
    .navbar {
        display: inline-block;
        width: 100%;
        
       
    }

    .logo2 {
        display: inline-block;
        position: absolute;
        top: -2%;
        left: -4%;
        z-index: 100;
        
    }

    .logo2 img {
        width: 180px;
        float: left;
        margin: 15px 0px 0px 90px;
    }
    
    
   
}


